<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Iniciar Sesión IndieWorks</title>
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.png" />

    <!-- Bootstrap -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet" />
    <link href="../assets/css/custom.css" rel="stylesheet" />
    <link href="../assets/css/carousel.css" rel="stylesheet" />
    <link href="../assets/ionicons-2.0.1/css/ionicons.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Catamaran:400,100,300" rel="stylesheet" type="text/css" />
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="nav navbar-nav">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand " href="../">
                    <i class="ion-cube"></i> IndieWorks</a>
                <div class="navbar-brand form-group bd-search d-flex align-items-center">
                    <div class="input-group sm-6 mb-3">
                        <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <span class="fa fa-search form-control-feedback btn btn-light" id="basic-addon2"></span>
                        </div>
                    </div>
                </div>


            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../">Inicio</a></li>
                    <li><a href="../catalog/">Servicios</a></li>
                    <li><a href="../blog/">Nosotros</a></li>
                    <li><a href="../login/"> <i class="ion-android-person"></i> Iniciar Sesion</a></li>
                    <li><a href="../signup/"> Registrarse</a></li>
                </ul>
            </div>


        </div>
        <!--/.container-fluid -->
    </nav>


    <hr class="offset-lg hidden-xs" />
    <hr class="offset-md" />

    <div class="blog">
        <div class="container">
          <div class="row">
  
            <div class="col-sm-6 col-md-6 item">
  
              <div class="body">
                <a href="../blog/item-photo.html" class="view"><i class="ion-ios-book-outline"></i></a>
  
                <a href="../blog/item-photo.html">
                  <img src="../assets/img/blog/img1.jpg" title="Apple Devices" alt="Apple Devices">
                </a>
  
                <div class="caption">
                  <h1 class="h3">The next generation of Multi-Touch</h1>
                  <label> 07.01.2017</label>
                  <hr class="offset-sm">
  
                  <p>
                    The original iPhone introduced the world to Multi-Touch, forever changing the way people experience technology. With 3D Touch, you can do things that were never possible before. It senses how deeply you press the display, letting you do all kinds of essential things more quickly and simply. And it gives you real-time feedback in the form of subtle taps from the all-new Taptic Engine.
                  </p>
                  <hr class="offset-sm">
  
                  <a href="../blog/item-photo.html"> View article <i class="ion-ios-arrow-right"></i> </a>
                </div>
              </div>
            </div>
  
            <div class="col-sm-6 col-md-6 item">
              <div class="body">
                <a href="../blog/item-video.html" class="view"><i class="ion-ios-book-outline"></i></a>
                <a href="../blog/item-video.html">
                  <img src="../assets/img/blog/img2.jpg" title="Coffee" alt="Coffee">
                </a>
  
                <div class="caption">
                  <h1 class="h3">MacBook Pro - brand new day for business.</h1>
                  <label> 02.01.2017</label>
                  <hr class="offset-sm">
  
                  <p>
                    Organizations everywhere are realizing the potential that Mac brings to their employees by giving them the freedom to use the tools they already know and love. Software and hardware made for each other. Because Apple designs both the software and hardware, every Mac delivers the best possible experience for employees.
                  </p>
                  <hr class="offset-sm">
  
                  <a href="../blog/item-video.html"> View article <i class="ion-ios-arrow-right"></i> </a>
                </div>
              </div>
            </div>
  
            <div class="col-sm-6 col-md-6 item">
              <div class="body">
                <a href="#" class="view"><i class="ion-ios-book-outline"></i></a>
                <a href="#">
                  <img src="../assets/img/blog/img4.jpg" title="HP Chromebook" alt="HP Chromebook">
                </a>
  
                <div class="caption">
                  <h1 class="h3">HP Chromebook review.</h1>
                  <label> 02.01.2017</label>
                  <hr class="offset-sm">
  
                  <p>
                    HP’s Chromebook 11 G4 ($199) has a dull-gray shell that screams, “bulk education purchase” more than “buy me.” Precisely because this school-oriented model can bang around in backpacks, however, it could teach its consumer Chromebook cousins a thing or two about build quality.
                  </p>
                  <hr class="offset-sm">
  
                  <a href="#"> View article <i class="ion-ios-arrow-right"></i> </a>
                </div>
              </div>
            </div>
  
            <div class="col-sm-6 col-md-6 item">
              <div class="body">
                <a href="#" class="view"><i class="ion-ios-book-outline"></i></a>
                <a href="#">
                  <img src="../assets/img/blog/img3.jpg" alt="Apple Music" title="Apple Music"/>
                </a>
  
                <div class="caption">
                  <h1 class="h3">Apple Music changes, Apple and SUP and more</h1>
                  <label> 02.01.2017</label>
                  <hr class="offset-sm">
  
                  <p>
                    Sunday is Mother’s Day. Wait, did you forget? Well, thanks to Apple, you can make a “Shot on iPhone” Mother’s Day video, using this site.  Upload an image, enter your name, and then you can post the final result so Mom can enjoy.
                  </p>
                  <hr class="offset-sm">
  
                  <a href="#"> View article <i class="ion-ios-arrow-right"></i> </a>
                </div>
              </div>
            </div>
  
            <div class="col-sm-6 col-md-6 item">
              <div class="body">
                <a href="#" class="view"><i class="ion-ios-book-outline"></i></a>
                <a href="#">
                  <img src="../assets/img/blog/img2.jpg" title="Coffee" alt="Coffee">
                </a>
  
                <div class="caption">
                  <h1 class="h3">MacBook Pro - brand new day for business.</h1>
                  <label> 02.01.2017</label>
                  <hr class="offset-sm">
  
                  <p>
                    Organizations everywhere are realizing the potential that Mac brings to their employees by giving them the freedom to use the tools they already know and love. Software and hardware made for each other. Because Apple designs both the software and hardware, every Mac delivers the best possible experience for employees.
                  </p>
                  <hr class="offset-sm">
  
                  <a href="#"> View article <i class="ion-ios-arrow-right"></i> </a>
                </div>
              </div>
            </div>
  
            <div class="col-sm-6 col-md-6 item">
              <div class="body">
                <a href="#" class="view"><i class="ion-ios-book-outline"></i></a>
                <a href="#">
                  <img src="../assets/img/blog/img1.jpg" title="Apple Devices" alt="Apple Devices">
                </a>
  
                <div class="caption">
                  <h1 class="h3">The next generation of Multi-Touch</h1>
                  <label> 07.01.2017</label>
                  <hr class="offset-sm">
  
                  <p>
                    The original iPhone introduced the world to Multi-Touch, forever changing the way people experience technology. With 3D Touch, you can do things that were never possible before. It senses how deeply you press the display, letting you do all kinds of essential things more quickly and simply. And it gives you real-time feedback in the form of subtle taps from the all-new Taptic Engine.
                  </p>
                  <hr class="offset-sm">
  
                  <a href="#"> View article <i class="ion-ios-arrow-right"></i> </a>
                </div>
              </div>
            </div>
  
          </div>
  
          <nav>
            <ul class="pagination">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true"><i class="ion-ios-arrow-left"></i></span>
                </a>
              </li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li class="disabled"><a href="#">..</a></li>
              <li><a href="#">10</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true"><i class="ion-ios-arrow-right"></i></span>
                </a>
              </li>
            </ul>
          </nav>
  
        </div>
      </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../assets/js/jquery-latest.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/core.js"></script>
    <script src="../assets/js/catalog.js"></script>

    <script type="text/javascript" src="../assets/js/jquery-ui-1.11.4.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.ui.touch-punch.js"></script>
    <!-- iconos-->
    <script src="https://kit.fontawesome.com/160f79963e.js" crossorigin="anonymous"></script>
</body>

</html>