<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>

    <form method="POST" action="{% url 'login_auth' %}">
        {% csrf_token %}

        <div class="form-group">
            <p>Correo</p>
            <input name="username">
        </div>
        <div class="form-group">
            <p>Contraseña</p>
            <input name="password" type="password">
        </div>
        <button type="submit">Iniciar Sesión</button>
    </form>

    <div>
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    </div>

    <div>
        <p>¿Aún no tienes una cuenta? <a href="{% url 'registro' %}">¡Regístrate!</a></p>
    </div>
</body>
</html>