 <p>=========================================</p>
 <img src="../static/images/favicon.png">
 <p>Nombre :{{ trabajador.nombre }}</p>
 <p>apellido_paterno :{{ trabajador.apellido_paterno }}</p>
 <p>apellido_materno :{{ trabajador.apellido_materno }}</p>
 <p>dni :{{ trabajador.dni }}</p>
 <p>correo :{{ trabajador.correo }}</p>
 <p>telefono :{{ trabajador.telefono }}</p>
 <p>ruc :{{ trabajador.ruc }}</p>
 <p>distrito :{{ trabajador.distrito }}</p>
 <p>=========================================</p>
 <a href="#">Enviar Mensaje</a>