$principal:#7e67e6;
$secundario:white;

/*sobreescribiendo los estilos de bootstrap*/

.bg-primary {
    background-color: $principal !important;
}

.text-primary {
    color: $principal !important;
}

.btn-primary {
    background-color: $principal !important;
    border-color: darken($principal, 10%) !important;
}

.btn-primary:hover {
    background-color: darken($principal, 10%)!important;
}

.btn-primary:active {
    background-color: darken($principal, 20%)!important;
    border-color: darken($principal, 30%)!important;
}

.btn-primary:focus {
    shadow: 0 0 0 0.2rem rgba($principal, .5)!important;
}


/* estilos del diseño*/

html {
    font-size: 16px;
}

.card:hover {
    box-shadow: 0 0 10px #0000006b;
}

.servicios {
    border: 1px solid green;
    height: 100px;
    //justify-content: space-around;
}

.servicios>* {
    border: solid red;
}

p {
    display: inline-flex;
}

.primary {
    color: #8B2B16;
}